<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=DB_B;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Team" value="B"/>
  </appSettings>
</configuration>
