<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=DB_A;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Team" value="A"/>
  </appSettings>
</configuration>